@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

/* logo image styling */
img#CFlogo {
    height: 100px;
    padding-top: 35px;
}

@media (max-width: 992px) {
    img#CFlogo {
        padding-top: 5px;
        height: 55px;
    }
}

/* ----------------- */
body {
    /*height: 100vh;
    background-color: white;
    background-image: url(../images/black_white_gradient.png);
    background-size: cover;
    background-position: center;*/
    background: url(../images/black_white_gradient.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fbfbfb;
    font-size: 1rem;
}

a:hover {
    color: #0f0f0f;
    transition: ease 0.2s;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*border-bottom: 1px solid black; Maybe? */
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #fbfbfb;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.navbar .toggle_btn:hover {
    transition: ease 0.2s;
    color: #bcabae;
}

.action_btn {
    background-color: #716969;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    
}

.action_btn:hover {
    scale: 1.05;
    color: white;
}

/* Profile Icon */
.profile_icon {
    background-color: black;
    color: white;
    border: 1.5px solid white;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.profile_icon:hover {
    border-color: #716969;
    color: #716969;
    cursor: pointer;
    transition: ease 0.2s;
}
/* Responsive Dropdown */
@media (min-width: 992px) {
    .dropdown_menu {
        display: none;
    }
}

@media(max-width: 992px) {
    .navbar .links,
    .navbar .action_btn,
    .navbar .profile_icon {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
    
} 

/* Dropdown Menu */
.dropdown_menu {
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(188, 171, 174, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
    box-shadow: 0 0 3px #ccc;

}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #2d2e2e;
}
